@import "../../scss/variables.scss";

.icon_search {
  font-size: 1.6em;
  cursor: pointer;
}
.searchBar_container {
  background-color: $transparent-bg;
  display: flex;
  height: 3.5em;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 0 15px;
}
.searchInput_container {
  width: 100%;
  max-width: 200px;
}
