@import "../../scss/variables.scss";

.icon_item-arrow path {
  pointer-events: fill;
}

.item_warning {
  width: 100%;
  display: flex;

  padding: 20px;
  align-items: center;
  justify-content: center;
}
.content_gradient {
  height: 20vh;
  width: 100%;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
